@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cookie&family=Exo&family=Gothic+A1:wght@300;400&family=Libre+Baskerville:wght@400;700&family=Pacifico&display=swap');
:root {
  /* Fonts */
  --body: "Libre Baskerville", serif;
  --modern: "Exo", sans-serif;
  --text-usual: "Gothic A1", sans-serif;
  --big-bold: "Anton", sans-serif;
  --funky: "Pacifico", cursive;
  /* Colors */
  --body-color: #f2f2f2;
  --secondary-color: #ef9151;
  --primary-color: #ffffff;
  --dark-color: #2f2e41;
  --call-to-action: #ff725e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  /* background-color: var(--body-color); */
  transition: all 0.5s ease;
}
img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}
.dark{
  background-color: #282742;
  color: #f2f2f2;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 1rem;
  border: 0.3rem solid var(--body-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
::-webkit-scrollbar-track {
  background-color: var(--body-color);
}
